{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% include "frames/head.html" %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="materialize-social.css">
</head>
<body>
    {% include "frames/navbar.html" %}
    <header class="hero">
        <section class="container hero__main">  
            <div class="hero__textos">
                <h1 class="title">La mejor <span class="title--active">Experiencia Digital.</span></h1> 
                <p class="copy">Te ayudamos a hacer realidad <span class="copy__active">tus proyectos</span></p>
                {% if user.nombre %}
                    <a href="elige" class="cta">¡Comienza ya!</a>
                    {% else %}
                    <span class="copy">¡Inicia ya! </span>
                    <a href="registrar" class="cta">Regístrate</a>
                    <p class="copy"> si ya estás registrado puedes</p>
                    <span><a href="accounts/login" class="cta">Inicia Sesión</a></span>
                {% endif %}
            </div>
                <img src="{% static 'img/slider2/1.png' %}" class="mockup">

        </section>
    </header>
    <main>
        <section class="services" style="background-color: #212121 ;">
            <div  class="container" style="background-color: #212121 ;">
                <h2 class="subtitle" style="color: white;">Serás parte de la comunidad de profesionales mejor capacitados<span class="point">.</span></h2>
                <p class="copy__section" style="color: #F4BD76;">Puedes demostrar tus habilidades en distintas áreas dentro de la revolución digital</p>
                <article class="container-cards">
                    <div class="card">
                        <img src="{% static 'img/slider/1.jpg' %}" class="card__img">
                        <div class="cards__text">
                            <p class="card__list">Especialistas en diseño UX / UI</p>
                            <h3 class="card__title">Diseño web<span class="point">.</span></h3>
                            <p class="card__copy">Encuentra profesionales capacitados en el área de diseño de interfaces </p>
                            <a href="serFreelancer" class="card__button">Inscríbete como freelancer</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'img/slider/2.jpg' %}" class="card__img">
                        <div class="cards__text">
                            <p class="card__list">Especialistas en desarrollo web</p>
                            <h3 class="card__title">Web apps<span class="point">.</span></h3>
                            <p class="card__copy">Si necesitas una sitio web para tu empresa o negocio, aquí puedes encontrar profesionales en la materia</p>
                            <a href="serFreelancer" class="card__button">Inscríbete como freelancer</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'img/slider/4.jpg' %}" class="card__img">
                        <div class="cards__text">
                            <p class="card__list">Diseñadores gráficos</p>
                            <h3 class="card__title">Creatividad y Diseño<span class="point">.</span></h3>
                            <p class="card__copy">Las mentes más creativas y revolucionarias las encontrarás con nosotros</p>
                            <a href="serFreelancer" class="card__button">Inscríbete como freelancer</a>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    <!--    <section class="services" style="background-color: #212121 ;">
            <div  class="container" style="background-color: #212121 ;">
                <h2 class="subtitle" style="color: white;">Proyectos recientes<span class="point">.</span></h2>
                <p class="copy__section" style="color: #F4BD76;">Hemos colaborado con marcas reconocidas a nivel mundial</p>
                <article class="container-cards">
                    <div class="card">
                        {{ datos }}





                        <div class="cards__text">
                            <a href="crearProyecto" class="card__button">Inicia tu proyecto</a>
                        </div>
                    </div>
                </article>
            </div>
        </section>-->
        <section class="email container container--modifier" style="background-color: #212121;">
            <h2 class="subtitle subtitle--modifier" style="color: white;">Somos tu mejor opción para adoptar la transformación digital<span class="point">.</span></h2>
            <p class="copy__section copy__section--modifier" style="color: white;">Aquí encontrarás a los mejores profesionales en distintas areas que necesites para tu proyecto y las mejores oprtunidades si eres un trabajador independiente y te gusta aceptar nuevos retos, WQuick es para ti </p>
            <div class="check">
                <div class="check__item">
                    <i class='bx bx-check' ></i>
                    <div class="check__numbers">
                        <p class="check__number" style="color: white;">+200</p>
                        <p class="check__copy" style="color: white;">Trabajadores freelancers</p>
                    </div>
                </div>
                <div class="check__item">
                    <i class='bx bx-check' ></i>
                    <div class="check__numbers">
                        <p class="check__number" style="color: white;">+200</p>
                        <p class="check__copy" style="color: white;">Proyectos exitosos</p>
                    </div>
                </div>

            </div>
            <form class="newsletter">
                <input type="text" class="newsletter__input" placeholder="Ingresa tu email">
                <input type="submit" class="newsletter__submit" value="Comienza hoy">
            </form>
        </section>
    </main>

    {% include "frames/footer.html" %}
</body>
</html>