/* Contenedor principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
    background: url("/static/img/black.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

/* Formulario */
.form-register {
    padding: 20px 15px;
    width: 100%;
    max-width: 450px;
}

/* Progressbar */
.progressbar {
    display: flex;
    list-style: none;
    margin-bottom: 15px;
    counter-reset: step;
}

.progressbar__option {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    text-transform: uppercase;
    position: relative;
}

/*Color de la barra de progreso llena*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-header-step: hsl(41, 72%, 52%);
}

.progressbar__option:before {
    display: flex;
    content: counter(step);
    counter-increment: step;
    width: 25px;
    height: 25px;
    background-color: white;
    margin: 0 auto 5px;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.progressbar__option:after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: -50%;
    z-index: 1;
}

.progressbar__option:first-child:after {
    content: none;
}

.progressbar__option.active:before,
.progressbar__option.active:after {
    background-color: var(--color-header-step);
}

/* Título del formulario */
.form-register__title {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -10px;
}

/* body del formulario */
.form-register__body {
    display: flex;
    /*align-items: flex-start;*/
}

/* cada formulario que será un paso */
.step {
    min-width: 100%;
    /*hace invisible cada formulario que esta inactivo*/
    opacity: 0;
    /*Transicion de movimiento a la izquierda entre formularios*/
    transition: all .2s linear;
}

.step.active {
    opacity: 1;
}

.step.to-left {
    margin-left: -100%;
}

.step.inactive {
    animation-name: scale;
    animation-duration: .2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1);
    }
}

/* step footer */
.step__footer {
    padding: 20px 15px;
    text-align: center;
}

textarea::placeholder {
    color: #9e9e9e;
    font-style: roboto;
}

::selection {
    background-color: hsl(180, 50%, 40%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}