<!-- CDN de Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    var busqueda = {{ busqueda|safe }};

    document.addEventListener('DOMContentLoaded', () => {
        let buscar = document.querySelectorAll('.autocomplete');
        var instances = M.Autocomplete.init(buscar, {
            data: busqueda
        });

        document.querySelectorAll('input[type=text]').forEach(node => node.addEventListener('keypress',
            evento => {
                if (evento.keyCode == 13) {
                    evento.preventDefault();
                    realizarBusqueda();
                }
            })
        )
    });
</script>