{% load static %}
<footer class="page-footer" style="background-color: #424242;">
    <link rel="stylesheet" href="materialize-social.css">
    <div class="container_footer" style="background-color: #424242;">
        <div class="row">
            <div class="col l6 s12">
                <img src="{%static 'img/transparencia.png'%}" alt="Contáctanos" >
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Términos y condiciones</h5>
                <ul>
                    <li><a class="white-text" href="#!">Condiciones de servicio</a></li>
                    <li><a class="white-text" href="#!">Políticas de privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright" style="background-color: #000;">
        <div class="container_footer black-text">
            © 2021 Industria de software
            <a class="white-text" href="#!" style=" background-color: #000; right: auto;" ;">Acerca de nosotros</a>
            <img src="" alt="">
        </div>
    </div>
</footer>

<!-- CDN de Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Inicializar todos los js de materialize-->
<script src="{% static 'js/WQuick.js' %}"></script>
{% include "frames/autocomplete.html" %}