<footer class="page-footer grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Pie de página</h5>
                <p class="grey-text text-darken-4">texto para el pie de página</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Enlaces</h5>
                <ul>
                    <li><a class="grey-text text-darken-4" href="#!">Enlace 1</a></li>
                    <li><a class="grey-text text-darken-4" href="#!">Enlace 2</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container black-text">
            © 2021 Industria de software
            <a class="right" href="#!">Acerca de nosotros</a>
        </div>
    </div>
</footer>

<!-- CDN de Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Inicializar todos los js de materialize-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();
    });
</script>