{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ titulo }}</title>
<!-- GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<!--Iconos de google-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- CDN de Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Logo de la empresas en las pestañas-->
<link rel="icon" type="image/png" href="{% static 'img/Logo.png' %}">
<!-- css wquick personalizado -->
<link rel="stylesheet" href="{% static 'css/WQuick.css' %}">