{% load static %}
<style>
    header,
    main,
    footer {
        padding-left: 250px;
    }

    #slide-out {
        margin-top: 64.5px;
        z-index: 100;
    }

    @media only screen and (max-width : 992px) {

        header,
        main,
        footer {
            padding-left: 0;
            margin-top: 50px;
        }

        #slide-out {
            margin-top: 56px;
            z-index: 1000;
        }
    }

    .imagen::placeholder {
        color: #ffc19dde;
    }
</style>
<ul id="slide-out" class="sidenav sidenav-fixed" style="max-width: 250px;">
    <div class="container-fluid" style="text-align: center;">
        {% if user.imagen %}
        <img src="{{user.imagen.url}}" id="userImagen" width="200" height="200" class="circle"
            style="margin-top: 20px; max-height: 200px;">
        {% else %}
        <img src="{% static 'img/perfil.png' %}" id="userImagen" width="200" height="200" class="circle"
            style="margin-top: 20px; max-height: 200px;">
        {% endif %}

        {% if titulo == 'Perfil de usuario' %}
        <form id="f" name="fileinfo" enctype="multipart/form-data">{% csrf_token %}
            <div class="file-field input-field" style="margin-top: -3px;">
                <a>
                    <span class="material-icons">add_a_photo</span>
                    <input type="file" id="id_foto2" name="foto">
                    <!--<input type="file" id='file-imagen'>-->
                </a>
                <div class="file-path-wrapper">
                    <input id="txt-imagen" onchange="activarGuardar()" class="file-path validate imagen"
                        placeholder="Cambiar imagen" type="text"
                        style="border: 0px; border-bottom:0px; margin-bottom: -16px; margin-top: -15px;">
                </div>
            </div>
            <button id="btn-guardari" class="btn grey dareken-4" style="display: none;">Guardar</button>
        </form>
        {% endif %}

        <div class="container-fluid center">
            {% if not titulo == 'Mis proyectos' %}
            <li class="divider side-divider" style=" margin-left: 20px;" style="margin-top: 20px;"></li>
            <li><a style="color: #ffc19dde;" href="{% url 'misProyectos' %}" >Mis Proyectos</a></li>
            {% endif %}

            <li class="divider side-divider" style=" margin-left: 20px;"></li>
            <li><a style="color: #ffc19dde;"  href="{% url 'crearProyecto' %}" >Crear Proyecto</a></li>

            <li class="divider side-divider" style=" margin-left: 20px;"></li>
            <li><a style="color: #ffc19dde;" href="#!" >Freelancers Contratados</a></li>

            <li class="divider side-divider" style=" margin-left: 20px;"></li>
            <li><a style="color: #ffc19dde;" href="{% url 'solicitudesF' %}" >Solicitudes de Freelancers</a></li>
            
            <li class="divider side-divider" style=" margin-left: 20px;"></li>     
        </div>   
    </div>
    <br><br><br>
</ul>

{% if titulo == 'Perfil de usuario' %}
<script type="text/javascript">
    //Funcion que detecta los cambios en el textbox que describe la imagen
    function activarGuardar() {
        let btnGuardar = document.getElementById('btn-guardari');
        let txtImagen = '';
        if(document.getElementById('txt-imagen').value == ''){
            txtImagen = document.getElementById('txt-imagen2');
        }else{
            txtImagen = document.getElementById('txt-imagen');
        }
        if (txtImagen.value.length == 0) {
            btnGuardar.style.display = 'none';
        } else {
            btnGuardar.style.display = 'inline-flex';
            document.getElementById('btn-guardari').click()
        }
    }
    var imagenActual = '{{user.imagen}}';
</script>
<script src="{% static 'js/getCookie.js' %}"></script>
<script src="{% static 'js/enviarDatos.js' %}"></script>
<script src="{% static 'js/cargarImagenPerfil.js'%}"></script>
{% endif %}