{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'frames/head.html' %}
    <style type="text/css">
        .mPcard {
            padding: 2% 3% 0% 3%;
        }

        @media only screen and (max-width : 992px) {
            .mPcard {
                padding: 2% 2% 0% 2%;
            }
        }
    </style>
</head>

<body>
    {% include 'frames/navbar.html' %}
    <main>
        {% if listaObjetos %}
        <div class="row mPcard">
            {% for proyecto in listaObjetos %}
            <div class="col s12 m6">
                <div class="card" style="min-height: 100%;">
                    <div class="card-title center grey darken-2" style="color:#d6d6d6; font-weight: bold;">
                        {{proyecto.tipo}}
                    </div>
                    <div class="card-content">
                        <div class="row">

                            <div class="col s12 m6">
                                <label style="font-size: 15px;">{{proyecto.titulo}}</label>
                                {% if proyecto.tipo == 'Programacion Web' %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/web.jpg' %}">
                                {% elif proyecto.tipo == 'Tiendas Online' %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/shop.png' %}">
                                {% elif proyecto.tipo == 'Landing page' %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/lp.jpg' %}">
                                {% elif proyecto.tipo == 'Aplicaciones Moviles' %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/app.png' %}">
                                {% elif proyecto.tipo == 'Sistemas para Ordenadores' %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/so.jpg' %}">
                                {% elif proyecto.tipo == "Servidores" %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/server.png' %}">
                                {% elif proyecto.tipo == 'Bases de Datos' %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/db.png' %}">
                                {% elif proyecto.tipo == 'Infraestructura' %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/redes.png' %}">
                                {% elif proyecto.tipo == 'Diseño' %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/dg.jpg' %}">
                                {% else %}
                                <img style="height: 120px;  margin-top: 5%;" src="{% static 'img/proyectos/o.jpg' %}">
                                {% endif %}
                                <div class="row" style="min-height: 45px;">
                                    <div class="col s1">
                                        <i class="material-icons">work</i>
                                    </div>
                                    <div class="col s10">
                                        <label style="font-size: 15px;">Experiencia
                                            Profesional:
                                            {% if proyecto.xp is 1 %}
                                            {{"Básico"}}
                                            {% elif proyecto.xp is 2 %}
                                            {{"Medio"}}
                                            {% elif proyecto.xp == 3 %}
                                            {{"Intermedio"}}
                                            {% else%}
                                            {{"Avanzado"}}
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label style="font-size: 15px;">Presupuesto: {{proyecto.moneda}} {{proyecto.presupuesto}}</label>
                                    </div>
                                    <div class="col s1">
                                        <i class="material-icons">short_text</i>
                                    </div>
                                    <div class="col s10">
                                        <label style="font-size: 15px;">
                                            Fecha de entrega: {{proyecto.fecha_fin}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m5" style="margin-bottom: 20px;">
                                <label style="font-size: 15px;">Descripción:</label>
                                <textarea disabled class="auto_scroll"
                                    style="width: 105%; max-height: 240px; resize: none; border: none;">{{proyecto.descripcion}}</textarea>
                            </div>

                            <div class="col s12 center">
                                <!-- Boton para desplegar modal de postularse -->
                                <button data-target="modal{{proyecto.id}}" class="btn green darken-1 modal-trigger">
                                    Postularse
                                </button>

                                <!-- Modal postularse -->
                                <div id="modal{{proyecto.id}}" class="modal modal-fixed-footer"
                                    style="max-width: 400px; min-width: 310px; height: 420px;">
                                    <div class="modal-content">
                                        <h4>Solicitud de participación</h4>
                                        <p>solicitud para postularte al proyecto {{proyecto.titulo}}</p>
                                        <br>
                                        <textarea id="txt-solicitud{{proyecto.id}}" class="grey darken-4"
                                            style="resize: none; max-width: 100%; height:155px;border: 1px dotted #848484">{{texto}}</textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="modal-close waves-effect waves-red btn-flat red-text">
                                            Cancelar
                                        </a>
                                        <a onclick="postularse('{{proyecto.id}}', '{{proyecto.titulo}}')"
                                            class="modal-close waves-effect waves-green btn-flat">
                                            Enviar
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>

        <div class="center" style="padding-bottom: 10px;">
            {% include 'frames/paginacion.html' %}
        </div>
        {% else %}
        <div class="container">
            <div class="materialert info" style="width: 100%;">
                <div class="material-icons">info</div>No hay proyectos en la búsqueda
            </div>
        </div>
        {% endif %}
    </main>

    <script src="{% static 'js/WQuick.js' %}"></script>
    {% include 'frames/autocomplete.html' %}
    <script src="{% static 'js/getCookie.js' %}"></script>
    <script src="{% static 'js/enviarDatos.js' %}"></script>
    <script>
        function postularse(idProyecto, asunto) {
            let datos = new FormData();
            let solicitud = document.getElementById('txt-solicitud'+idProyecto).value
            datos.append('idProyecto', idProyecto)
            datos.append('solicitud', solicitud)
            datos.append('asunto', asunto)
            enviar(datos, 'post', {}, '{% url "buscarProyectos" %}')
        }
    </script>
</body>

</html>