{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'frames/head.html' %}
    <style>
        @media only screen and (max-width: 900px) {
            .movil {
                margin-top: -50px;
            }
        }
    </style>
</head>

<body>
    {% include 'frames/navbar.html' %}
    {% include 'frames/sidebar.html' %}
    <main>
        <div class="row movil" style="padding-left: 2%; padding-right: 2%;">
            <div class="col s12">
                <div class="card">

                    <div class="card-title grey darken-2 center grey-text text-lighten-3"
                        style="padding-top: 0.1px; padding-bottom: 1px;">
                        <h5>Freelancers Contratados</h5>
                    </div>

                    <div class="card-content" style="padding-left: 2%; padding-right: 2%;">

                        {% if contrataciones %}

                        <table class="striped centered white-text">
                            <thead class="grey darken-4">
                                <tr>
                                    <th>Freelancer</th>
                                    <th>Proyecto</th>
                                    <th>Fecha de contratación</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for contratacion in contrataciones %}

                                <tr>
                                    <td>{{contratacion.nombre}}</td>
                                    <td>{{contratacion.proyecto}}</td>
                                    <td>{{contratacion.fecha}}</td>
                                </tr>
                        
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% else %}

                    <div class="container">
                        <div class="materialert info" style="width: 100%;">
                            <div class="material-icons">info</div>Usted no ha contratado nigún freelancer 
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </main>

    <script src=" {% static 'js/WQuick.js' %}"></script>
    {% include 'frames/autocomplete.html' %}
</body>

</html>