{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'frames/head.html' %}
</head>

<body>
    {% include 'frames/navbar.html' %}
    {% include 'frames/sidebar.html' %}
    <main>
        {% if proyectos %}
        <div style="padding: 2% 11% 0% 11%;">
            <div class="card" style="width: 100%; padding: 2% 0% 0% 0%;">
                <div class="row">
                    {% for proyecto in proyectos %}
                    <div class="row">
                        <div class="col s12 m5 offset-m1">
                            <div class="container-fluid" style="margin-bottom: 20px;">
                                <!-- nombre de la eleccion del proyecto -->
                                <label style="font-size: 20px;">{{proyecto.tipo}}</label>
                                <img style="width: 80%; margin-top: 5%;" src="../../../static/img/diseñoweb.jpg">
                            </div>
                            <div class="row">

                                <div class="col s1">
                                    <i class="material-icons">work</i>
                                </div>
                                <div class="col s11">
                                    <label style="font-size: 15px;" >Experiencia
                                        Profesional:
                                        {% if proyecto.xp is 1 %}
                                        {{"Básico"}}
                                        {% elif proyecto.xp is 2 %}
                                        {{"Medio"}}
                                        {% elif proyecto.xp == 3 %}
                                        {{"Intermedio"}}
                                        {% else%}
                                        {{"Avanzado"}}
                                        {% endif %}
                                    </label>
                                </div>

                                <div class="col s12"><br></div>
                                <div class="col s1">
                                    <i class="material-icons">short_text</i>
                                </div>
                                <div class="col s11">
                                    <label style="font-size: 15px;" >Fecha de entrega:
                                        {{proyecto.fecha_fin}}</label>
                                    <div class="container-fluid">
                                        <h6 style="font-size: 15px;">

                                        </h6>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col s12 m6" style="margin-bottom: 20px;">
                            <div class="container-fluid" style="margin-bottom: 20px;">
                                <label style="font-size: 20px;">{{proyecto.titulo}}</label>
                            </div>
                            <div class="row">
                                <div class="col s11">
                                    <label style="font-size: 15px;" >Descripción:</label>
                                    <div class="container-fluid">
                                        <h6 class="grey-text text-lighten-2" style="font-size: 15px;">
                                            {{proyecto.descripcion}}
                                        </h6>
                                    </div>
                                </div>

                                <!--style="text-align: center;"-->
                                <div class="col s12"></div>
                            </div>
                            <button id="btn-editar" class="btn grey darken-1">Editar Proyecto </button>
                            <button id="btn-editar" class="btn grey darken-1"
                                style="background-color: #880a0a!important;">Eliminar Proyecto </button>

                        </div>

                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <script>
            window.location.href = '/crearProyecto';
        </script>
        {% endif %}
    </main>

    <script src="{% static 'js/WQuick.js' %}"></script>
    {% include 'frames/autocomplete.html' %}
</body>

</html>