{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'frames/head.html' %}
    <style>
        .bandera {
            width: 300px;
            height: 200px;
            margin: 20px;
            display: inline-block;
            border: 1px solid #000;
        }

        .colombia {
            background-image: linear-gradient(yellow 33%, blue 33%, blue 66.66%, red 66.66%);
        }

        .francia {
            background-image: linear-gradient(90deg, red 33%, white 33%, white 66.66%, blue 66.66%);
        }

        .italia {
            background-image: linear-gradient(90deg, green 33%, white 33%, white 66.66%, red 66.66%);
        }

        .alemania {
            background-image: linear-gradient(black 33%, red 33%, red 66.66%, yellow 66.66%);
            color: #fff;
        }

        .japon {
            background-image: radial-gradient(circle, red 33%, white 33%, white);
        }

        .polonia {
            background-image: linear-gradient(white 50%, red 50%, red);
        }
    </style>
</head>

<body class="grey lighten-2">
    {% include 'frames/navbar.html' %}
    {% include 'frames/sidebar.html' %}

    <main>
        <div class="row mcard">
            <div class="col s12 m10 offset-m1">
                <section class="white" style="padding: 20px;">
                    <div class="container-fluid">
                        <form method="POST" id="frm_serFreelancer" class="form-register">{% csrf_token %}
                            <div class="row">

                                {% if freelancer %}
                                <div class="col s12 m5 offset-m1">
                                    <div class="container-fluid" style="margin-bottom: 20px;">
                                        <label style="font-size: 20px;">Datos de freelancer</label>
                                    </div>
                                    <div class="row">
                                        <div class="col s1">
                                            <i class="material-icons">description</i>
                                        </div>
                                        <div class="col s11">
                                            <label style="font-size: 15px;" class="grey-text text-darken-2">Nombre:
                                                {{freelancer.nombre}}</label>
                                        </div>
                                        <div class="col s12"><br></div>

                                        <div class="col s1">
                                            <i class="material-icons">description</i>
                                        </div>
                                        <div class="col s11">
                                            <label style="font-size: 15px;" class="grey-text text-darken-2">Apellido:
                                                {{freelancer.apellido}}</label>
                                        </div>
                                        <div class="col s12"><br></div>

                                        <div class="col s1">
                                            <i class="material-icons">work</i>
                                        </div>
                                        <div class="col s11">
                                            <label style="font-size: 15px;" class="grey-text text-darken-2">Profesión:
                                                {{freelancer.profesion}}</label>
                                        </div>
                                        <div class="col s12"><br></div>

                                        <div class="col s1">
                                            <i class="material-icons">mail</i>
                                        </div>
                                        <div class="col s11">
                                            <label style="font-size: 15px;" class="grey-text text-darken-2">Correo
                                                electrónico: {{freelancer.correo}}</label>
                                        </div>
                                        <div class="col s12"><br></div>

                                        <div class="col s1">
                                            <i class="material-icons">call</i>
                                        </div>
                                        <div class="col s11">
                                            <label style="font-size: 15px;" class="grey-text text-darken-2">Correo
                                                Teléfono: {{freelancer.telefono}}</label>
                                        </div>
                                        <div class="col s12"><br></div>

                                        {% if freelancer.idiomas %}
                                        <div class="col s1">
                                            <i class="material-icons">
                                                language
                                            </i>
                                        </div>
                                        <label style="font-size: 15px; margin-left: 10px;"
                                            class="grey-text text-darken-2">Lenguajes:
                                        </label>
                                        <div class="col s11">
                                            <div class="row">
                                                {% for lenguaje in freelancer.idiomas %}
                                                <div class="col s6 m4">
                                                    <label class="container-fluid alemania bandera black-text" 
                                                    style="width: 20px; height: 15px; margin-bottom: -15px;">
                                                        .........{{lenguaje}}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col s12"></div>
                                        {% endif %}

                                        <div class="col s1">
                                            <i class="material-icons">short_text</i>
                                        </div>
                                        <div class="col s11">
                                            <label style="font-size: 15px;"
                                                class="grey-text text-darken-2">Descripción:</label>
                                            <div class="container-fluid">
                                                <h6 style="font-size: 15px;">
                                                    {{freelancer.descripcion}}
                                                </h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {% endif %}

                                <div {% if not freelancer %} class="col s12 m6 offset-m3" {% else %} class="col s12 m6"
                                    {% endif %} style="margin-bottom: 20px;">
                                    <div class="container-fluid" {% if not freelancer %}
                                        style="margin-bottom: 20px; text-align: center;" {% else %}
                                        style="margin-bottom: 20px;" {% endif %}>
                                        <label style="font-size: 20px;">Datos de usuario</label>
                                    </div>
                                    <div class="row">
                                        <div class="col s1">
                                            <i class="material-icons">account_box</i>
                                        </div>
                                        <div class="col s11">
                                            <label style="font-size: 15px;" class="grey-text text-darken-2">Nombre de
                                                usuario: {{user.nombre}}</label>
                                        </div>
                                        <div class="col s12"><br></div>
                                        <div class="col s1">
                                            <i class="material-icons">mail</i>
                                        </div>
                                        <div class="col s11">
                                            <label style="font-size: 15px;" class="grey-text text-darken-2">Correo
                                                electrónico: {{user.correo}}</label>
                                        </div>

                                        <!--style="text-align: center;"-->
                                        <div class="col s12"></div>
                                    </div>
                                    <button id="btn-editar" class="btn grey darken-1">Cambiar contraseña </button>

                                    <form method="POST">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input disabled id="txt-clave" type="password" class="validate"
                                                style="width: 80%;">
                                            <label for="txt-clave">Antigua contraseña</label>
                                        </div>

                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input disabled id="txt-nclave" type="password" class="validate"
                                                style="width: 80%;">
                                            <label for="txt-nclave">Nueva contraseña</label>
                                        </div>

                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input disabled id="txt-cclave" type="password" class="validate"
                                                style="width: 80%;">
                                            <label for="txt-cclave">Confirmar contraseña</label>
                                        </div>

                                    </form>
                                </div>

                            </div>

                            <div class="row">

                            </div>
                    </div>

            </div>
            </form>
        </div>
        </section>
        </div>
        </div>
    </main>

    <script src="{% static 'js/WQuick.js' %}"></script>
    {% include 'frames/autocomplete.html' %}
</body>

</html>