<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Bootstrap Advance Admin Template</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../../../tema/bs-advance-admin/advance-admin/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="../../../tema/bs-advance-admin/advance-admin/assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="../../../tema/bs-advance-admin/advance-admin/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="../../../tema/bs-advance-admin/advance-admin/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<style>
    @media only screen and (max-width: 321px){
        .main-box h5 {
            font-size: 13px!important;
        }
    }
    @media only screen and (max-width: 415px){
        .responsividad{
        padding-left: 0%!important;
        padding-top: 4%!important;
        padding-right: 0%!important;
        }
    }
    .responsividad{
        padding-left: 15%;
        padding-top: 8%;
    }
</style>
<body>
    <div class="row responsividad">
        <div class="col-md-5">
            <div style=" height: 50vh; padding-top: 15%;" class="main-box mb-red">
                <a href="#">
                    <h5>Publica tu Proyecto<br><br><br><br><br>
                        Encontraras los freelances adecuados que 
                        realizaran tu proyecto con una alta calidad.
                    </h5>
                        <div style="padding-top: 15%;">
                            <button type="button" class="btn btn-lg btn-success"><a href="crearProyecto.html">Crea tu Proyecto</a></button>
                        </div>
                </a>
            </div>
        </div>
        <div class="col-md-5">
            <div style=" height: 50vh; padding-top: 15%;" class="main-box mb-dull">
                <a href="#">
                    <h5>Trabaja con Nosotros<br><br><br><br><br>
                        Elige el proyecto que mas se adecue a tu experiencia
                        y accede a nuevos clientes de manera sencilla.
                    </h5>
                        <div style="padding-top: 11%;">
                            <button type="button" class="btn btn-lg btn-success"><a href="form_freelancer.html">Trabaja con Nosotros</a></button>
                        </div>
                </a>
            </div>
        </div>
    </div>

    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../../tema/bs-advance-admin/advance-admin/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../../tema/bs-advance-admin/advance-admin/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../../tema/bs-advance-admin/advance-admin/assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="../../../tema/bs-advance-admin/advance-admin/assets/js/custom.js"></script>
    


</body>
</html>
