{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'tema/bs-advance-admin/advance-admin/assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'tema/bs-advance-admin/advance-admin/assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'tema/bs-advance-admin/advance-admin/assets/css/basic.css '%}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'tema/bs-advance-admin/advance-admin/assets/css/custom.css' %}" rel="stylesheet" />
    {% include "frames/head.html" %}
</head>
<style>
    body {
        background: rgb(184, 127, 19);
        background-image: linear-gradient(90deg, rgba(184, 127, 19, 0.4277642067898525) 0%,
                rgba(255, 239, 0, 1) 45%, rgba(255, 165, 28, 1) 100%);
        overflow: hidden;
    }

    @media only screen and (max-width: 415px) {
        .responsividad {
            padding-left: 5% !important;
            padding-top: 5% !important;
        }

        .form-control browser-default {
            width: 96% !important;
        }
    }

    .responsividad {
        padding-left: 28%;
        padding-top: 10px;
    }
</style>

<body>
    {% include 'frames/navbar.html' %}

    <main>
        <div class="col-md-9 col-sm-9 col-xs-30 responsividad">
            <div class="panel panel-info">
                <div style="text-align: center; background-color: hsl(180, 50%, 40%);" class="panel-heading">
                    Trabaja como Freelancer
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input class="form-control browser-default" type="text" style="width: 100%;">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Apellido</label>
                                    <input class="form-control browser-default" type="text" style="width: 100%;">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Correo</label>
                                    <input class="form-control browser-default" type="text" style="width: 100%;">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Profesión</label>
                                    <input class="form-control browser-default" type="text" style="width: 100%;">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Nivel de Experiencia</label>
                                    <select class="form-control browser-default" style="width: 100%;">
                                        <option>Basico</option>
                                        <option>Medio</option>
                                        <option>Intermedio</option>
                                        <option>Avanzado</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Numero de Telefono</label>
                                    <input class="form-control browser-default" type="text" style="width: 100%;">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Idiomas</label>
                                    <input class="form-control browser-default" type="text" style="width: 100%;">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Algo mas sobre tí</label>
                                    <textarea class="form-control browser-default" rows="5"
                                        style="width: 100%;"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-12" style="text-align: center;">
                                <button type="submit" class="btn btn-info">Guardar </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- /. FOOTER  -->
    <!-- CDN de Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Inicializar todos los js de materialize-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();

            var sliders = document.querySelectorAll('.slider');
            var instances = M.Slider.init(sliders, {
                interval: 7000,
                height: 400,
                duration: 600
            });
        });
    </script>
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="tema/bs-advance-admin/advance-admin/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="tema/bs-advance-admin/advance-admin/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="tema/bs-advance-admin/advance-admin/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="tema/bs-advance-admin/advance-admin/assets/js/custom.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
            var drops = document.querySelectorAll('.auto-hover');
            var instances = M.Dropdown.init(drops, {
                coverTrigger: false,
                hover: true
            });
            let navbar = document.getElementById('avatar');
            navbar.style = 'height: 45px; margin-top: -8px;';
        });
    </script>
</body>

</html>